body,html{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background:url(../img/html-bk.png) #e3f3fc;
}
footer{
  position: absolute;
  background: rgba(170,170,170,0.2);
  left:0;
  right:0;
  margin-top:15px;
}
/*h3 content test*/
h3{
    padding:5px 5px;
    text-align: center;
}
h4{
  text-align: center;
  color:whitesmoke;
}
h5{
  text-align: center;
  
}
/*text area*/
/*Cake main content*/
div.CakeMainBoard {
    text-align: center;
    background:url(../img/main-bk.png) rgba(0,0,139,0.8);
}
div.AboutBoard {
    background:url(../img/main-bk.png) rgba(100,149,237,0.8);
}
div.ForumBoard {
    background:url(../img/main-bk.png) rgba(131, 205, 255, 0.8);
}

/*CakeContent elements*/
div.CakeMainBoard>div.Profile{
    background:rgba(0,0,139,0.6);
    color:white;
    padding:0% 10%;
}
div.CakeMainBoard>h3{
    color:white;
    text-shadow: 1px 2px black;
}
/*Profile content*/
div.Profile>div.item{
    width: 212px;
    float: left;
    text-align: center;
    margin:10px;
}
div.Profile>div.item>a>img.item-img{
  display: block;
  max-width: 100%;
  height: auto;
  box-shadow: 1px 1px 3px black;
}
.p-wrapper{
  position: absolute;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color:#ffffff;
  overflow: hidden;
  z-index: 10;
}
.p-animate-go:hover .p-from-left{
  left: 0;
}
.p-animate-go:hover .p-animate{
  visibility: visible;
}
.p-from-left{
  position: relative;
  background: rgba(0,0,0,0.6);
  background-size: 100% 100%;
  top: 0px;
  left:-100%;
  margin: 0;
  min-height: 241px;
  cursor: pointer;
}
.p-animate{
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  visibility: hidden;
  font-size: 1.1em;
  font-weight: 700;
}
.p-animate span{
  display: block;
  font-size: 2em;
  padding-top:15px;
  font-weight: 500;
}
/*Profile content end*/

/*container and broad element*/
div.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-top:3.66em;
  }
  
  div.CakeMainBoard, .AboutBoard, .ForumBoard {
    width: 100%;
  }
/*container and broad element end*/

/*In different device view*/
  @media (min-width: 600px) {
    div.CakeMainBoard {
      width: 60%;
      -webkit-order: 2;
      order: 2;
    }
  
    div.AboutBoard {
      width: 40%;
      -webkit-order: 1;
      order: 1;
    }
  
    div.ForumBoard {
      width: 100%;
      -webkit-order: 3;
      order: 3;
    }
  }
  
  
  @media (min-width: 800px) {
    div.AboutBoard {
      width: 20%;
    }
  
    div.ForumBoard {
      width: 20%;
    }
  }
  /*In different device view end */